@{ 
    Script.Require("jQuery").AtHead();
    Script.Include("knockout-3.4.2.js").AtFoot();
    Script.Include("catagoryManage.js").AtFoot();
    
}

<fieldset>
    <button type="button" id="catagory_ip" >@T("Ip地址")</button>
    <button type="button" id="catagory_tel" >@T("电话")</button>
</fieldset>

<fieldset>
    <ul data-bind="foreach:catagorylist">
        <li><a href="javascript:void(0);" data-bind="attr:{id:clsid},text:name" class="clsAction"></a> </li>
    </ul>
</fieldset>

<fieldset>
    <ul data-bind="foreach:resourcelist">
        <li data-bind="text:content"></li>
    </ul>
</fieldset>

<script type="text/javascript">
   
    var catagoryEditSettings = {
        getCatagoryAction: '@Url.Action("GetCatagory","Classify",new { area ="DeviceManageSite"})',
        getClassifiedResourceAction:'@Url.Action("GetResourceEditList","Classify", new { area = "DeviceManageSite" })',
        antiForgeryToken: '@Html.AntiForgeryTokenValueOrchard()',

    }
</script>